@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Playwrite+BE+WAL:wght@100..400&display=swap');

.bruno-ace-regular {
    font-family: "Bruno Ace", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  